<% if current_user != nil %>
  <%= form_for @question do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br>
  <%= f.label :content %>
  <%= f.text_area :content %>
  <br>
  <%= f.submit %>
  <% end %>
 <% else %>
 <div class="alert alert-danger">
Please log in or sign up to ask a question..
 </div>


<% end %>
