<div class="text-center">

  <!-- <%= link_to 'log in', users_path %> -->
  <!-- <hr> -->
  <%if @questions.any? %>
  <% @questions.each do |question|%>
  <%= link_to question.title, question_path(question) %> <br> by <i><%= question.user.name%></i> <br> <small><%= time_ago_in_words(question.created_at) %></small> ago
  <%end%>
  <%else%>
  <p>
    no questions, ask a question!
  </p>
  <%end%>
  <% if current_user != nil %>
    <p>
      Welcome, <b><%=  current_user.name %></b><br>

      <hr>
    </p>
    <%= link_to 'log out', log_out_path %>
  <% else  %>
  <h2>log in or sign up to ask and/or answer questions! </h2>
  <% end  %>
</div>
