<div class="text-center">


<%= @question.question %>

<% if current_user == @question.user %>
<%= link_to 'delete question', question_path(@question),
:data => {:confirm => "are you sure?",
  :method => "delete"}%><br>
  <% end %>

<br>
<%= @question.content %> <br>by <%= @question.user.name %> <small><%= time_ago_in_words(@question.created_at) %></small> ago
<% if @question.answers.any? %>
<% @question.answers.each do |answer| %>
   <ul>
     <li>
      <%= answer.vote_count %>
       <%= render 'voting', :object => [@question, answer] %>
       <!-- <%= answer.upvote %>
       <%= form_for [@question, answer] do |v| %>
       <%= v.hidden_field(:upvote, :value => '1') %>
       <%= button_tag "", type: 'submit', class: "btn btn-default glyphicon glyphicon-chevron-up pull-right" %>     <%= answer.downvote %>
       <% end %>   <%= form_for [@question, answer] do |v| %>
       <%= v.hidden_field(:downvote, :value => '1') %>
       <%= button_tag "", type: 'submit', class: "btn btn-default glyphicon glyphicon-chevron-down pull-right" %>
       <% end %> -->
     </li>
     <!-- <li><%= link_to "+", question_answer_path(@question, answer, :upvote => true), :method => :patch %> <%= answer.content %> by <%= answer.user.name %> <small><%= time_ago_in_words(answer.created_at) %></small> ago <% if current_user == answer.user %>
       <%= link_to 'delete answer', question_answer_path(@question, answer),
       :data => {:confirm => "are you sure?",
         :method => "delete"}%><br>
         <% end %></li> -->
   </ul>
<% end %>
<% else %>
<br>
Be the first to answer the question and help out <%= @question.user.name %>

<% end %>
<%= link_to 'answer the question', new_question_answer_path(@question)%>
</div>
