<!DOCTYPE html>
<html>
<head>
  <title>StackOverflowClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= render '/layouts/navbar'%>

</head>
<body>
  <div class="container">
    <span class="alert alert-danger"><%= flash[:alert] %></span>
    <span class="alert alert-success"><%= flash[:notice] %></span>
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">

      <%= yield %>
</div>



</div> <!-- /container -->
</body>
</html>
